* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  margin: 0 auto;
}

.flex {
  display: flex;
}
