.main {
    width: 700px;
    padding-top: 25px;
    display: flex;
}

.mainPanel {
    width: 60%;
}

.sidePanel {
    width: 40%;
    display: inline-block;
}

.flex div:nth-child(1) {
    flex: 0.5;
}

.flex div:nth-child(2) {
    flex: 3;
}

.flex div:nth-child(3) {
    flex: 1;
}

.flex div:nth-child(4) {
    flex: 1;
}

.hoveredProduct div {
    background-color: lightblue;
}